@import '../../../variables.scss';
@import '~bs-stepper/dist/css/bs-stepper.min.css';
.no-border{
    border: none;
}
.selected-clinic{
    color: $evo-primary;
    border: 1px solid $evo-primary;
    border-radius: 7px;
    font-weight: bolder;
}
.pxDirections{
    background-color: $evo-primary;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 7px;
    margin: 5px;
  }
  .clinic-button{
      background-color: $evo-primary;
      border: none;
      border-radius: 0;
      max-width: 25rem;
  }
  .divide-r{
      border-right: 1px solid $evo-primary;
  }
  .row-cell{
    padding: 0 0.33rem;
    overflow-x: auto;
  }

.minwid{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.maxwid{
    max-width: 100%;
    overflow-x: scroll;
}
.c1{
    width: 250px;
}
.c2{
    width: 320px;
}
.c3{
    width: 135px;
}
.c4{
    width: 130px;
}
.c5{
    width: 325px;
}

.keyinfolist{
    list-style: none;
    padding-left: 0;
   
}