<div class="container">
  <div class="row">
    <div class="col-12">
      <div *ngFor="let site of this.sites">
        <app-clinic-list-item [site]="site" (siteCode)="choiceMade($event)" (collapse)="collapseAllItems()">
        </app-clinic-list-item>
      </div>
    </div>
  </div>
</div>