@import "../../../variables.scss";
@import '~bs-stepper/dist/css/bs-stepper.min.css';
.card{
  border: $evo-border;
  box-shadow: $evo-box-shadow;
    text-align: center;
    padding: 1rem;


}

.clock{
  width: 3rem;
}
.logo {
  width: 50%;
  max-width: 250px;
  margin-bottom: 50px;
}

// .container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
//   max-width: 600px;
// }

// .message {
//   border: 2px solid $evo-primary;
//   border-radius: 7px;
//   text-align: center;
//   max-width: 300px;
// }

// .logo {
//   max-width: 250px;
//   margin-bottom: 50px;
// }
// .pxDirections{
//     // background-color: $evo-primary;
//     // color: white;
//     padding: 5px;
//     text-align: center;
//     border-radius: 7px;
//     border: 1px solid $evo-primary;
//     margin: 5px;
  
// }

// .col{
//     .btn-primary{
//         width: 100%;
//     }
// }

// .times-card {
//     min-width: 20rem;
//     width: 75%;
//     text-align: center;
//     margin: 2rem auto;
//     border: 2px solid $evo-primary;
//     border-radius: 0;
//     padding-bottom: 2rem;
  
//     .card-img-top {
//       width: 3rem;
//       margin: 1rem auto;
//     }
// }

// .keyinfo{
//   border-top: 1px solid $evo-primary;
//   border-bottom: 1px solid $evo-primary;

// }