<div class="container">
  <div class="row">
    <div class="col-12 card mb-3" *ngIf="!showConfirmation">
      <h4>Confirm</h4>
      <div class="m-3">{{ confirmationObject?.messageText }}</div>
      <div *ngIf="this.confirmationObject?.keyInfo?.length>0">
        <h6>Key information:</h6>
        <div *ngFor="let k of this.confirmationObject?.keyInfo">{{k}}</div>
       
      </div>
      <div>
        <button class="btn btn-primary mr-1" (click)="this.confirm(true)"><span *ngIf="loading"
            class="spinner-border spinner-border-sm spin" role="status" aria-hidden="true"></span><span
            class="m-auto">{{loading?' Confirming':'Yes'}}</span></button>
        <button class="btn btn-outline-primary ml-1" (click)="this.confirm(false)">No</button>
      </div>
    </div>
    <div class="col-12 card" *ngIf="showConfirmation">
      <div class="mx-auto">
        <p>{{ this.message }}</p>
        <p>Thank you.</p>
      </div>
    </div>
  </div>
</div>