<div class="container" >
    <div class="message p-3">
      <!-- <img src="../../../assets/images/lowres_virtual_ecare_logo_transparent_underlined.png" class="logo"> -->
      <label for="msg" class="sr-only" tabindex="0">{{this.message}}</label>
      <p id="msg">{{ this.message }}</p>
      <p>Thank you.</p>

      <button class="btn btn-primary" (click)="exit()">Exit</button>
    </div>
  </div>