@import "../../../variables.scss";

.card-body {
  text-align: center;
  color: $evo-primary;
  padding: 0.5rem 1rem 0.5rem 1rem;

  h4,
  p {
    margin: 0;
  }
}

.selected {
  background-color: $evo-primary;

  p,
  h4 {
    color: white;
  }
}

.gray {
  background-color: darkgray;
}
