<div class="card-body" [class.gray]="day.status !== 'S'" [class.selected]="day.selected" (click)="selectDay()" #item>
  <p class="card-subtitle">{{ day.dow }}</p>
  <h4 class="card-title">{{ day.day }}</h4>
  <p class="card-text">{{ day.month }}</p>
</div>

