<div class="container h-100">
  <div class="row h-100 align-items-center justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="row mb-3">
        <div class="col text-center" role="img">
          <img
            src="assets/images/logos/evonnectOphthalmologyLogo.png"
            alt="Evonnect Ophthalmology Logo"
            class="logo fade-in"
          />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form
            [formGroup]="loginForm"
            [class.pre-loader]="isSubmitting"
            (ngSubmit)="handleLogin()"
            aria-label="Login Form"
          >
            <div class="form-group">
              <label for="dob-date" class="required"
                >Date of birth (required)</label
              >
              <div class="row">
                <div class="col">
                  <label for="dayOfBirthRef">Day</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="dobDay"
                    id="dayOfBirthRef"
                    tabindex="0"
                    aria-required="true"
                    autocomplete="off"
                    aria-label="please enter the day of your date of birth"
                    [class.is-invalid]="
                      loginForm.get('dobDay').invalid &&
                      loginForm.get('dobDay').touched
                    "
                  />
                </div>
                <div class="col">
                  <label for="monthOfBirthRef">Month</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="dobMonth"
                    id="monthOfBirthRef"
                    tabindex="0"
                    aria-required="true"
                    autocomplete="off"
                    aria-label="please enter the month of your date of birth"
                    [class.is-invalid]="
                      loginForm.get('dobMonth').invalid &&
                      loginForm.get('dobMonth').touched
                    "
                  />
                </div>

                <div class="col">
                  <label for="yearOfBirthRef">Year</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="dobYear"
                    id="yearOfBirthRef"
                    tabindex="0"
                    aria-required="true"
                    autocomplete="off"
                    aria-label="please enter the year of your date of birth"
                    [class.is-invalid]="
                      loginForm.get('dobYear').invalid &&
                      loginForm.get('dobYear').touched
                    "
                  />
                </div>
              </div>
            </div>
            <div class="form-group" #referenceNumberRef>
              <label for="ref" class="required"
                >Reference number (required)</label
              >
              <input
                type="number"
                inputmode="numeric"
                class="form-control"
                formControlName="ref"
                id="ref"
                tabindex="0"
                aria-required="true"
                autocomplete="off"
                aria-label="please enter the six digit reference number we sent you"
                [class.is-invalid]="
                  loginForm.get('ref').invalid && loginForm.get('ref').touched
                "
              />
            </div>
            <div class="form-group" #mobileNumberRef>
              <label for="mobile" inputmode="tel" class="required"
                >Mobile number</label
              >
              <div class="input-group">
                <input
                  type="tel"
                  class="form-control"
                  formControlName="mobile"
                  id="mobile"
                  tabindex="0"
                  aria-required="false"
                  autocomplete="mobile"
                  aria-label="please enter your mobile telephone number"
                />
                <div class="input-group-append" *ngIf="submitAttempted">
                  <div class="input-group-text" style="min-width: 230px">
                    <input type="checkbox" formControlName="noMobile" />
                    <label
                      for="wildcard-search-postcode"
                      class="pl-2 pr-2 m-0"
                      title="Tick this box if you do not have a mobile telephone."
                      >No mobile telephone</label
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" #emailAddressRef>
              <label for="email" inputmode="email" class="required"
                >Email address</label
              >
              <div class="input-group">
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                  id="email"
                  tabindex="0"
                  aria-required="false"
                  autocomplete="email"
                  aria-label="please enter your email address"
                />
                <div class="input-group-append" *ngIf="submitAttempted">
                  <div class="input-group-text" style="min-width: 230px">
                    <input type="checkbox" formControlName="noEmail" />
                    <label
                      for="wildcard-search-postcode"
                      class="pl-2 pr-2 m-0"
                      title="Tick this box if you do not have an email address."
                      >No email address</label
                    >
                  </div>
                </div>
              </div>
            </div>
            <div
              class="alert alert-primary"
              role="alert"
              *ngIf="submitAttempted"
            >
              Email and mobile telephone provided above are used for patient
              contact only. <br />They will not be used for marketing purposes.
            </div>
            <div class="text-center m-3">
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="loginForm.invalid"
              >
                Login
              </button>
            </div>
          </form>
          <hr />
          <div class="mt-3">
            <p class="text-center">
              Need help? Call our support on 0203 780 7860
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
