<div class="col-12 p-3 mb-1" (click)="selectSlot()" [class.selected]="slot.selected">
  {{ slot.duration }} minute appointment at<br>
  <span>{{ slot.slotTime }}</span>
  <br>{{slot.clinicName}}
</div>