@import "../../../variables.scss";
div {
  border: $evo-border;
  background-color: white;
  color: $evo-primary;
  text-align: center;
  span {
    font-size: larger;
  }
}
.selected {
  background-color: $evo-primary;
  color: white;
}
