<div class="container">
  <div class="row">
    <div class="col-12">
      <div id="stepper1" class="bs-stepper">
        <div class="bs-stepper-header" [hidden]='hideStepper'>
          <div class="step" data-target="#test-l-1">
            <button class="step-trigger">
              <span class="bs-stepper-circle">1</span>
              <span class="bs-stepper-label">{{stepText}}</span>
            </button>
          </div>
          <div class="line"></div>
          <div class="step" data-target="#test-l-2">
            <button class="step-trigger">
              <span class="bs-stepper-circle">2</span>
              <span class="bs-stepper-label">Appointment</span>
            </button>
          </div>
          <div class="line"></div>
          <div class="step" data-target="#test-l-3">
            <button class="step-trigger">
              <span class="bs-stepper-circle">3</span>
              <span class="bs-stepper-label">Confirm</span>
            </button>
          </div>
        </div>
        <div class="bs-stepper-content">
          <div id="test-l-1" class="content">
            <div class="w-100 text-center">
              <p>{{this.welcomeMessage}}</p>
            </div>
            <app-pick-clinic (siteCode)="this.setSiteCode($event)" #pickClinic></app-pick-clinic>
          </div>
          <div id="test-l-2" class="content">
            <div class="w-100 text-center" *ngIf="!hideStepper">
              <p>{{this.appointmentMessage}}</p>
            </div>
            <app-pick-appointment [siteCode]="this.siteCode" [stepper]="this.stepper"  (goBack)="goBack()" (appointmentMessage)="setAppointmentMessage($event)" (noDatesEvent)="noDatesEvent()"
              (confirmationObject)="this.setConfirmationObject($event)" #pickAppointment>
            </app-pick-appointment>
          </div>
          <div id="test-l-3" class="content">
            <app-confirm (notConfirmed)="this.goBack()" [confirmationObject]="this.confirmationObject"></app-confirm>
          </div>
          <div class="text-center footer mt-3" *ngIf="!hideStepper">
            <p class="mb-0" aria-label="if you need help call our support on 0203 780 7860"><span class="help">Need help?</span> Tel. {{helpPhoneNumber}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>