@import "../../variables.scss";
@import "~bs-stepper/dist/css/bs-stepper.min.css";
// .header {
//   position: fixed;
//   height: 50px;
//   width: 100%;
// }

// .body {
//   margin-top: 60px;
//   height: calc(100% - 110px);
//   max-height: calc(100% - 110px);
//   .active {
//     .step-trigger {
//       .bs-stepper-label {
//         color: $evo-primary;
//       }

//       .bs-stepper-circle {
//         background-color: $evo-primary;
//         color: white;
//       }
//     }
//   }
// }

// .ecare-logo {
//   width: 200px;
// }
.help {
  color: $evo-primary;
}

.bs-stepper-circle{
background-color: $evo-primary !important;
}



/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .bs-stepper-label{
      font-size: .75rem !important;
    }
}