<div [class]="noDate?'container2':'container'">
  <div class="message p-3">
    <!-- <img src="../../assets/images/lowres_virtual_ecare_logo_transparent_underlined.png" class="logo"> -->
    <p>{{ this.message }}</p>
    <p>Thank you.</p>
  </div>
</div>
