@import "../../variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 600px;

  .message {
    border: 2px solid $evo-primary;
    border-radius: 7px;
    text-align: center;
    max-width: 300px;
    .logo {
      max-width: 250px;
      margin-bottom: 50px;
    }
  }
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 600px;

  .message {
    // border: 2px solid $evo-primary;
    border-radius: 7px;
    text-align: center;
    max-width: 300px;
    .logo {
      max-width: 250px;
      margin-bottom: 50px;
    }
  }
}