<div class="row mb-2" (click)="select()" #item [class.selected]="site.expanded"  [@openClose]="site.expanded ? 'open' : 'closed'">
  <div class="col-12">
    <small>Clinic name:</small><br>{{site.practiceName}}
  </div>
  <div class="col-6 col-md-4">
    <small>Approx. distance: </small><br>{{site.distance}}
  </div>
  <div class="col-6 col-md-4">
    <small>Online booking: </small><br>{{site.doesOnline===1?'Yes':'No'}}
  </div>
  <div class="col-12  col-md-4" *ngIf="site.doesOnline===1 && site.nextAvailBooking">
    <small>Next available appointment: </small><br>{{site.nextAvailBooking}}
  </div>
  <div *ngIf="!site.expanded" class="col-12 text-center mb-1" >
    <fa-icon [icon]="faChevronCircleDown"></fa-icon>
  </div>
  <div *ngIf="site.expanded" class="col-12">
    <small>Clinic address: </small><br>{{site.practiceAddress}}
  </div>
  <div *ngIf="site.expanded && site.keyInfo?.Strings" class="col-12">
    <small>Key info: </small><br>
    <span *ngFor="let info of site.keyInfo.Strings">{{info}}<br></span>
  </div>
  <div *ngIf="site.expanded" class="col-12 text-center mb-1">
    <button type="button" class="btn btn-primary" (click)="confirm()"  #item>Choose this clinic</button>
  </div>
</div>