@import "../../../variables.scss";
.row {
  border: $evo-border;
  box-shadow: $evo-box-shadow;
  cursor: pointer;
}

small {
  color: $evo-primary;
}

.selected {
  border-color:$evo-secondary;
}

fa-icon {
  color: $evo-primary;
  font-size: larger;
}
