.pre-loader {
  min-height: 45px;
  position: relative;
  transition: visibility 0.3s linear, opacity 0.3s linear;

  * {
    visibility: hidden;
  }
}

.pre-loader-input {
  min-height: 10px;

  * {
    visibility: hidden;
  }
}

.cell-pre-loader:after {
  overflow: hidden;
  display: inline-block;
  -webkit-animation: ellipsis steps(8, end) 800ms infinite;
  animation: ellipsis steps(8, end) 800ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
  font-size: 0.8em;
}

@keyframes ellipsis {
  to {
    width: 40px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 40px;
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.pre-loader::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: #0a4f7c;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}

.pre-loader-input::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 25%;
  left: calc(50% - 20px);
  width: auto;
  height: auto;
  min-width: 15px;
  min-height: 15px;
  border-style: solid;
  border-color: #0a4f7c;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}

@keyframes borealisBar {
  0% {
    left: 0%;
    right: 100%;
    width: 0%;
  }

  10% {
    left: 0%;
    right: 75%;
    width: 25%;
  }

  90% {
    right: 0%;
    left: 75%;
    width: 25%;
  }

  100% {
    left: 100%;
    right: 0%;
    width: 0%;
  }
}
