@import "./loading.scss";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "./variables.scss";
$theme-colors: (
  primary: $evo-primary,
  secondary: $evo-secondary,
  info: $evo-tertiary,
);

// $grid-breakpoints: (
//   xs: 0,
//   sm: 600px,
//   md: 800px,
//   lg: 1000px,
//   xl: 1800px
// );

// $container-max-widths: (
//   sm: 600px,
//   md: 800px,
//   lg: 1000px,
//   xl: 1800px
// );

@import "bootstrap";
@font-face {
  font-family: "CenturyGothic";
  src: local("CenturyGothic"),
    url(./assets/fonts/century-gothic.ttf) format("truetype");
}
html,
body {
  height: 100%;
  margin: 0;
  width: 100%;
  font-family: "CenturyGothic", Century Gothic, CenturyGothic, AppleGothic,
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: default;
  color: $evo-primary;
}
p,
label {
  cursor: default;
  color: $evo-secondary;
}
textarea {
  resize: none;
}

.hiddenOptionBecauseSafariIsStupid {
  display: none;
}

.pointer {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border: 2px solid $evo-secondary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $evo-primary-75;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $evo-secondary;
}

::-webkit-scrollbar-corner {
  background: $evo-secondary;
}

.form-control:focus {
  box-shadow: none !important;
}

.required {
  position: relative;
  &:after {
    content: " *";
    color: red;
    position: absolute;
  }
}
