$evo-primary: #44546A ;
$evo-primary-75: rgba(68, 84, 106, 0.75) ;
$evo-primary-50: rgba(68, 84, 106, 0.5) ;
$evo-secondary: #014f7c ;
$evo-secondary-50: rgba(1, 79, 124, 0.5);
$evo-secondary-25: rgba(1, 79, 124, 0.25);
$evo-tertiary: #4f446a;
$evo-tertiary-50: rgba(79, 68, 106, 0.5);
// $evo-highlight: #0149ad;

$evo-border: 1px solid $evo-primary;
$evo-box-shadow : 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);