<div class="container">
  <div class="col-12 text-center mb-1" *ngIf="!this.hideBackToClinicButton"><button class="btn btn-outline-primary"
      (click)="back()">Click here to choose another practice</button></div>

  <div class="row box">
    <div class="col-12 p-3 text-center" *ngIf="loading">
      <h4 class="m-0">Loading appointments, please wait.</h4>
    </div>
    <div class="col-12 p-3 text-center" *ngIf="this.days&& !loading">
      <h4>Select a date:</h4>
    </div>
 
    <div  *ngIf="this.days&& !loading" class="col-12" class="scrolling-wrapper p-1">
      <div class="card" *ngFor="let day of this.days; let index = index">
        <app-date-list-item [day]="day" [index]="index" (select)="selectDate($event, index)" #dateListItem>
        </app-date-list-item>
      </div>
    </div>
    <div class="mx-auto" *ngIf="!this.days&& !loading">
     <app-appointment-complete [noDate]="true"></app-appointment-complete>
    </div>
  </div>
  <div class="row mt-3 p-3 box mb-3" *ngIf="selectedDate">
    <!-- SLOTS -->
    <div class="col-12 p-3 text-center  mx-auto" *ngIf="selectedDate.status&&selectedDate.status ==='S'">
      <h4>Select a slot:</h4>
    </div>
    <app-slot-list-item *ngFor="let slot of selectedDate.slots" [slot]="slot" class="w-100"
      (select)="selectSlot($event)"></app-slot-list-item>

    <!-- CLOSED -->
    <div class="col-12 p-3 text-center" *ngIf="selectedDate.status&&selectedDate.status ==='C'">
      <h4>The clinic is closed on this day</h4>
    </div>
    <div class="text-center mx-auto" *ngIf="selectedDate.status&&selectedDate.status ==='C'">
      <div class="mt-2">The next available appointment is:</div>
      <div class="mb-2">{{ this.selectedDate.nextAvail }}</div>
      <button type="button" (click)="goToNextAvail()" class="btn btn-primary">
        Go to {{ this.selectedDate.nextAvail }}
      </button>
    </div>

    <!-- FULLY BOOKED -->
    <div class="col-12 p-3 text-center" *ngIf="selectedDate.status&&selectedDate.status ==='N'">
      <h4>Clinic fully booked on this day</h4>
    </div>
    <div class="text-center mx-auto" *ngIf="selectedDate.status&&selectedDate.status ==='N'">
      <div class="mt-2">The next available appointment is:</div>
      <div class="mb-2">{{ this.selectedDate.nextAvail }}</div>
      <button type="button" (click)="goToNextAvail()" class="btn btn-primary">
        Go to {{ this.selectedDate.nextAvail }}
      </button>
    </div>
    
  </div>
  <div class="row mt-3 m-3" *ngIf="selectedSlot">
    <h4 class="w-100 text-center" #confirm>Click to confirm</h4>

    <button (click)="selectAppointment()" class="btn btn-primary mx-auto">
      <span *ngIf="loading" class="spinner-border spinner-border-sm spin" role="status" aria-hidden="true"></span><span
        *ngIf="loading" class="m-auto">Please wait</span><span *ngIf="!loading"> Request
        appointment:<br>{{this.selectedDate.dow}} {{this.selectedDate.day}} {{this.selectedDate.month}}<br>at
        {{this.selectedSlot.slotTime}}</span>

    </button>
  </div>
</div>

<!-- <div class="container-fluid">
  <div class="scrolling-wrapper" id="scrolling-wrapper" *ngIf="this.days"> 
    <div
      class="card"
      *ngFor="let day of this.days; let i = index"
      (click)="handleDateClicked(day, i)"
    >
      <div>
        <div [className]="day.status == 'S' ? 'card-body' : 'card-body-gray'">
          <p class="card-subtitle">{{ day.dow }}</p>
          <h4 class="card-title">{{ day.day }}</h4>
          <p class="card-text">{{ day.month }}</p>
        </div>
      </div>
    </div>
  
  </div>
  <div class="loading-dates" *ngIf="!this.days">Loading Dates...</div> 
  <div class="card times-card" *ngIf="showInitialCard">
    <img
      class="card-img-top"
      src="../../../assets/images/Stop Icon.png"
      alt="clock icon"
    />
    <h4 class="card-title">To select an appointment</h4>
    <div class="card-subtitle text-muted">First choose a date above</div>
    <div class="card-text mt-2" *ngIf="selectedDate.nextAvail">The next available appointment is:</div>
    <div class="card-text mb-2" *ngIf="selectedDate.nextAvail">{{ this.selectedDate.nextAvail }}</div>
    <button
      type="button"
      (click)="goToNextAvail(this.selectedDate.nextAvail)"
      class="btn btn-primary w-75 mx-auto next-button mb-2 d-block"
      style="background-color: '#662383'; border: '0'; max-width: '40%';"
      *ngIf="selectedDate.nextAvail"
    >
      Go to {{ this.selectedDate.nextAvail }}
    </button>
  </div>
  <div
    class="card times-card"
    *ngIf="this.selectedDate.status === 'S' && !showInitialCard"
    id="appointment-card"
  >
    <img
      class="card-img-top"
      src="../../../assets/images/Clock.png"
      alt="clock icon"
    />
    <h4 class="card-title">Please select a slot below</h4>
    <div
      class="card-body"
      *ngFor="let slot of this.slotsForSelectedDay; let i = index"
      [ngClass]="
        choosenDateAndTime.time == i && choosenDateAndTime.date == selected
          ? 'card-body-selected'
          : 'card-body'
      "
      (click)="handleSlotClicked(slot, i)"
    >
      {{ slot.duration }} minute appointment at
      <span style="font-size: larger;">{{ slot.slotTime }}</span> 
      {{slot.clinicName}}
    </div>
  </div>
  <div class="card times-card" *ngIf="this.selectedDate.status === 'N' && !showInitialCard">
    <img
      class="card-img-top"
      src="../../../assets/images/Stop Icon.png"
      alt="clock icon"
    />
    <h4 class="card-title">Clinic fully booked</h4>
    <div class="card-subtitle text-muted">
      There are no appointments available for this day
    </div>
    <div class="card-text mt-2">The next available appointment is:</div>
    <div class="card-text mb-2">{{ this.selectedDate.nextAvail }}</div>
    <button
      type="button"
      (click)="goToNextAvail(this.selectedDate.nextAvail)"
      class="btn btn-primary w-75 mx-auto next-button mb-2 d-block"
      style="background-color: '#662383'; border: '0'; max-width: '40%';"
    >
      Go to {{ this.selectedDate.nextAvail }}
    </button>
  </div>
  <div class="card times-card" *ngIf="this.selectedDate.status === 'C' && !showInitialCard">
    <img
      class="card-img-top"
      src="../../../assets/images/Stop Icon.png"
      alt="clock icon"
    />
    <h4 class="card-title">Clinic closed</h4>
    <div class="card-subtitle text-muted">
      The practice is closed on this day
    </div>
    <div class="card-text mt-2">The next available appointment is:</div>
    <div class="card-text mb-2">{{ this.selectedDate.nextAvail }}</div>
    <button
      type="button"
      (click)="goToNextAvail(this.selectedDate.nextAvail)"
      class="btn btn-primary w-75 mx-auto next-button mb-2 d-block"
      style="background-color: '#662383'; border: '0'; max-width: '40%';"
    >
      Go to {{ this.selectedDate.nextAvail }}
    </button>
  </div>
  <div class="row fixed-top" style="margin-left: 0; margin-right: 0;" *ngIf="!hideBackToClinicButton">
    <button
      type="button"
      (click)="stepBack()"
      class="btn back-button mx-auto mt-2"
    >
    <fa-icon [icon]="backArrow"></fa-icon> Back to clinic choice
    </button>
    
  </div>
  <div class="row m-1 fixed-bottom">
    <button
      *ngIf="this.chosenAppointment"
      (click)="selectAppointment()"
      [disabled]="!this.selectionMade"
      type="button"
      class="btn btn-primary w-75 mx-auto next-button  mb-2"
    >
      {{ this.chosenAppointment }}
    </button>
  </div>
</div> -->