@import "../../../variables.scss";
@import '~bs-stepper/dist/css/bs-stepper.min.css';
.available {
  background-color: #ebeae6;
  cursor: default;
}

.active {
  background-color: $evo-primary;
  color: white;
}

.loading-dates{
  text-align: center;
  color: $evo-primary;
}
.box{
  border: $evo-border;
  box-shadow: $evo-box-shadow;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: center;

  .card {
    display: inline-block;
    border-color: darkgray;
    margin-right: 5px;
    cursor: pointer;

    .card-body {
      text-align: center;
      color: $evo-primary;
      padding: 0.5rem 1rem 0.5rem 1rem;

      h4,
      p {
        margin: 0;
      }
    } 
    .card-body-gray {
      text-align: center;
      color: $evo-primary;
      padding: 0.5rem 1rem 0.5rem 1rem;
      background-color: darkgray;
      h4,
      p {
        margin: 0;
      }
    } 

  }
  .card-body-has-slots{
    text-align: center;
    color: $evo-primary;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-bottom: 2px solid $evo-primary;
    
    h4,
    p {
      margin: 0;
    }
  }
}

.times-card {
  // min-width: 20rem;
  width: 75%;
  max-width: 700px;
  text-align: center;
  margin: 2rem auto;
  border: 2px solid $evo-primary;
  border-radius: 0;
  cursor: default;

  .card-img-top {
    width: 3rem;
    margin: 1rem auto;
  }

  .card-body {
    margin: 5px 10px;
    border: 1px solid $evo-primary;
    color: $evo-primary; 
  }

  .card-body-selected{
    margin: 5px 10px;
    border: 1px solid $evo-primary;
    background-color: $evo-primary;
    color: white; 
  }

  .btn-primary{
    margin: 2rem auto;
  }
}
.fixed-top{
  text-align: left;
  
    width: 100%;
  
  .back-button{
    background-color: white;
    border: 2px solid $evo-primary;
    border-radius: 0;
    color: $evo-primary;
  }
}


.fixed-bottom{
  text-align: center;
  div{
    width: 100%;
  }
  .next-button{
    background-color: $evo-primary;
    border: none;
    border-radius: 0;
    max-width: 25rem;
  }

}

.selected-date{
  background-color: $evo-primary;

  p,h4{
    color: white;
  }
}
.selected-date-gray{
  background-color: darkgray;

  p,h4{
    color: $evo-primary;
  }
}

.selected-time{
  background-color: $evo-primary;
  div{
    background-color: $evo-primary;
    color: white;
  }

}

